.card {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 5;
}
.card a {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--blue-main);
}
.card a:hover span {
  position: relative;
  left: 5px;
  animation: moveEffect infinite 1s ease-out;
}

.card p {
  line-height: 1.5;
  color: var(--blue-sub);
}

@keyframes moveEffect {
  0% {
    left: 15px;
  }

  100% {
    left: 5px;
  }
}
