.inner {
  width: 60%;
  margin: 0 auto;
}
.inner h2,
.inner input {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--blue-sub);
  color: var(--blue-main);
  font-size: 1.5rem;
}

.inner p,
.inner textarea {
  line-height: 1.8;
  word-wrap: break-word;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--blue-sub);
  font-size: 1rem;
}
.imageBox {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 2rem 0;
}
.textBox {
  width: 100%;
  height: 200px;
  resize: none;
}
.buttonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.buttonBox *:not(div) {
  border: 1px solid var(--blue-sub);
  color: var(--blue-sub);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.buttonBox div button:first-child {
  margin-right: 5px;
  background-color: var(--blue-sub);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .inner {
    width: 100%;
  }
}
