.card {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-bottom: 1.5rem;
}
.card a {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card a:hover span {
  color: var(--blue-pale);
  position: relative;
  left: 5px;
  animation: moveEffect infinite 1s ease-out;
}

.card p {
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes moveEffect {
  0% {
    left: 15px;
  }

  100% {
    left: 5px;
  }
}
